@use "sass:color";

:root,
.theme-root {
  @mixin apply-color-light($name, $base) {
    --k-color-#{$name}: #{$base};
    --k-color-#{$name}-shade: #{color.mix($base, #000, 90%)};
    --k-color-#{$name}-tint: #{color.mix($base, #fff, 80%)};
    --k-color-#{$name}-fade: #{color.adjust($base, $alpha: -0.9)};
  }

  &[theme="pink-light"] {
    $bg: #fdeef5;
    $hover: #e9dbe1;
    $color: #f172b3;
    --bg0: #{$bg};
    --bg1: #{$hover};
    --bg2: #{$hover};
    --bg3: #{$hover};

    --k-side-bg: var(--bg0);
    --k-activity-bg: var(--bg0);

    --k-color-divider: #e9dbe1;
    --k-card-shadow: 0 4px 8px -4px rgb(0 0 0 / 0.3);
    @include apply-color-light(primary, $color);

    .el-button {
      --el-button-hover-text-color: #{$color};
    }
    .el-button--primary {
      $bgc: color.scale($color, $lightness: -30%, $saturation: -0%);
      --el-button-active-text-color: #{$bg};
      --el-button-active-bg-color: #{$bgc};
      --el-button-active-border-color: #{$bgc};
    }
  }
}
